name: Deploy Staging - Ceph

on:
  # push:
  #   branches:
  #     - main  # Set a branch to deploy
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: macos-latest
    steps:
      - name: Checkout blog repo
        uses: actions/checkout@main
        with:
          repository: conholdate/conholdate-blog
          token: ${{ secrets.REPO_TOKEN }}
          #submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2.4.13
        with:
          hugo-version: '0.101.0'
          extended: true
      
      - name: Build
        run: hugo --config "config.yml,config-production.yml" --minify

      # =================================================
    
      - name: Sync to Ceph S3
        run: |
          aws s3 sync ./public/ s3://qa-blog-conholdate-com/ \
            --endpoint-url https://s3-qa.dynabic.com \
            --acl public-read \
            --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.CEPH_S3_QA_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.CEPH_S3_QA_SECRET_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          AWS_ENDPOINT_URL: https://s3-admin-qa.dynabic.com
 
      # =================================================
      # BunnyCDN
      # =================================================
      # - name: Purge BunnyCDN Cache
      #   run: |
      #      curl -siG \
      #       -H "X-Api-Key: ${{ secrets.BUNNY_API_KEY }}" \
      #       --data-urlencode "url=https://blog-qa.conholdate.cloud" \
      #       "https://api.dynabic.com/bn/purge?async=true"        
      
      # =================================================
      
      # - name: Deploy Home to S3
      #   run: hugo deploy --maxDeletes -1 --target "production"
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS }}

      # - name: Invalidate CloudFront
      #   uses: chetan/invalidate-cloudfront-action@v2
      #   env:
      #     DISTRIBUTION: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
      #     PATHS: '/*'
      #     AWS_REGION: 'us-west-2'
      #     AWS_ACCESS_KEY_ID: ${{ secrets.ACCESS_KEY }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.SECRET_ACCESS }}