name: Daily Blogs Scan - Missing Translations

on:
  schedule:
    - cron: "0 1 * * *"  # Runs at 04:00 UTC every day
    # - cron: '*/15 * * * *'  # Runs every 15 minutes for testing
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        domain_value:
          - blog.aspose.com
          - blog.groupdocs.com
          - blog.conholdate.com
          - blog.aspose.cloud
          - blog.groupdocs.cloud
          - blog.conholdate.cloud

    steps:
      #############################################################
      # 0. CHECKOUT THIS REPO (blog-translation-tools)
      #############################################################
      - name: Checkout blog-translation-tools
        uses: actions/checkout@v4

      #############################################################
      # 1. CHECKOUT TARGET REPO (blog.groupdocs.com)
      #############################################################
      - name: Set repository based on domain
        id: maprepo
        run: |

          DEFAULT_BRANCH_NAME="master"

          if [ "${{ matrix.domain_value }}" = "blog.aspose.com" ]; then
            echo "REPO=aspose/aspose-blog" >> $GITHUB_ENV
            DEFAULT_BRANCH_NAME="master"

          elif [ "${{ matrix.domain_value }}" = "blog.groupdocs.com" ]; then
            echo "REPO=groupdocs/groupdocs-blog" >> $GITHUB_ENV
            DEFAULT_BRANCH_NAME="master"

          elif [ "${{ matrix.domain_value }}" = "blog.conholdate.com" ]; then
            echo "REPO=conholdate/conholdate-blog" >> $GITHUB_ENV
            DEFAULT_BRANCH_NAME="main"
          
          elif [ "${{ matrix.domain_value }}" = "blog.aspose.cloud" ]; then
            echo "REPO=aspose-cloud/aspose-cloud-blog" >> $GITHUB_ENV
            DEFAULT_BRANCH_NAME="master"

          elif [ "${{ matrix.domain_value }}" = "blog.groupdocs.cloud" ]; then
            echo "REPO=groupdocs-cloud/groupdocs-cloud-blog" >> $GITHUB_ENV
            DEFAULT_BRANCH_NAME="master"
          
          elif [ "${{ matrix.domain_value }}" = "blog.conholdate.cloud" ]; then
            echo "REPO=conholdate-cloud/blog.conholdate.cloud" >> $GITHUB_ENV
            DEFAULT_BRANCH_NAME="main"

          else
            echo "Unknown domain!"; exit 1
          fi

          echo "REPO_PATH=blog-checkedout-repo" >> $GITHUB_ENV
          echo "DEFAULT_BRANCH=$DEFAULT_BRANCH_NAME" >> $GITHUB_ENV
          echo "Selected repository: $REPO"
          echo "Checkout directory: $REPO_PATH"


      - name: Checkout Selected Blogs REPO
        uses: actions/checkout@v4
        with:
          repository: ${{ env.REPO }}
          token: ${{ secrets.PAT_GITHUB_SK }}
          path: ${{ env.REPO_PATH }}
          fetch-depth: 0

      #############################################################
      # 2. SETUP PYTHON
      #############################################################
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      #############################################################
      # 3. Create Virtual Environment and Install Python Dependencies
      #############################################################
      - name: Print all environment variables
        run: env
      
      - name: Create virtual environment
        run: python -m venv .venv
      
      - name: Activate venv and install dependencies
        run: |
          echo ==============================
          source .venv/bin/activate
          echo Workspace: $GITHUB_WORKSPACE
          echo ==============================
          echo "GitHub workspace: ${{ github.workspace }}"
          # ls -R .
          echo ==============================
          pip install --upgrade pip
          pip install -r tools/translation_agent/requirements.txt
          echo ==============================

      #############################################################
      # 4. RUN TRANSLATION SCRIPT
      #############################################################
      - name: Run translation detection
        env:
          TARGET_REPO: blog-checkedout-com/content/
          GOOGLE_CREDENTIALS_JSON_SK: ${{secrets.GOOGLE_CREDENTIALS_JSON_SK}}
        run: |
          source .venv/bin/activate
          
          # ============= Build arguments dynamically =============
          
          args=()
          # Domain (always required)
          args+=("--domain" "${{ matrix.domain_value }}")

          # Key
          args+=("--key" "${{ secrets.PROFESSIONALIZE_LLM_BLOGS_TEAM }}")

          # Run the python script safely
          python tools/translation_agent/scan_missing_translations.py "${args[@]}"
